body{
    background-image: url('./bg-bottom.svg'),url('./bg-top.svg');
    background-repeat: no-repeat,no-repeat;
    background-position: left bottom, top right;
   

} 
.main{
    width: 100%;
    height: 80%;
    margin: 2px;
    
}
#pricing{
    width: 100%;
    
/* border: 1px solid green; */
padding: 0;
margin: 2px;
text-align: center;

}

#year{
    width: 100%;
    height: 50px;
    /* border: 1px solid gold; */
    text-align: center;
    
}
.box1{
    width: 200px;
    /* height: 300px; */
    /* border: 1px solid gold; */
    padding: 40px;
    text-align: center;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgb(77, 50, 50);
    
   
}
.box2{
    width: 200px;
    /* height: 300px; */
    /* border: 1px solid green; */
    padding: 40px;
    text-align: center;
    /* background-color:rgb(10, 74, 104); */
    background-image: linear-gradient(to right,
    hsl(236,72%,79%), 
    hsl(237,63%,64%));
    box-shadow: 0px 0px 5px 0px rgb(63, 56, 56);
  
}

   

.father{
   display: flex;
   justify-content: center;
   
   
}
.button-box{
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    /* border: 1px solid red; */
    text-align: center;
    background-image: linear-gradient(to right,
    hsl(236,72%,79%), 
    hsl(237,63%,64%));
   

}
#button-box-middle{
    width: 100%;
    padding-top: 1px;
    padding-bottom: 1px;
    /* border: 1px solid red; */
    text-align: center;
    background-color:blanchedalmond

}

.bold-price{
    font-size: xxx-large;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
  
   
}
@media screen  and (max-width:930px) {
    
    .box1 {
        width:60%;
        margin-bottom: 10px;
        margin-left: 30px;
    }
    .box2 {
        width:60%;
        margin-bottom: 10px;
        margin-left: 30px;

    }
    .father {
        display: block;
    }
}